{% extends 'crm/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список задач</title>
</head>
<body>
    <h1>Ваши задачи</h1>
    {% for task in tasks %}
        <div>
            <p><strong>Описание:</strong> {{ task.description }}</p>
            <p><strong>Срок:</strong> {{ task.due_date }}</p>
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    {% if task.completed %}
                        Выполнено
                    {% else %}
                        В процессе
                    {% endif %}
                </td>
            </tr>
        </div>
        <hr>
    {% empty %}
        <p>У вас пока нет задач.</p>
    {% endfor %}
    
   
</body>
</html>
{% endblock %}