
<div class="container">
    <h1>Авторизация</h1>

    {% if form.errors %}
        <p>Ваши имя пользователя и пароль не совпали.
        Пожалуйста, попробуйте еще раз.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Вы не имеете доступа к этой странице.
            Войдите в систему с другими параметрами</p>
        {% else %}
            <p>Войдите в систему, чтобы увидеть эту страницу.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <label for="id_username">Имя пользователя</label>
        {{ form.username }}

        <label for="id_password">Пароль</label>
        {{ form.password }}

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Вход" class="btn_add" />
        
        <p><a href="{% url 'password_reset_form' %}">Утерян пароль?</a></p>
    </form>
</div>
