{% extends "crm/base.html" %} 
{% block content %} 
<form action="" method="post">{% csrf_token %} 
{% if form.email.errors %} {{ form.email.errors }} {% endif %} 
<div class="row my-2 text-center"> 
<div class="col-6"> 
<table class="table table-bordered my-2 text-start"> 
<td> 
<label>Ваш e-mail</label><br> 
</td> 
<td> 
<p>{{ form.email }}</p> 
</td> 
</table> 
</div> 
<div class="col-6"></div> 
</div> 
<div class="row my-2 text-start"> 
<div class="col-6"> 
<input type="submit" class="btn btn-primary" value="Сброс пароля" /> 
</div> 
<div class="col-6"></div> 
</div> 
</form> 
{% endblock %} 